MONGO_URI=mongodb+srv://<user>:<password>@<cluster>/?appName=<app>
MONGO_DB_NAME=meon_uptime
PORT=5000
STATUS_RESPONSE_BUDGET_MS=2500
STATUS_PROBE_TIMEOUT_MS=5000
SLOW_STATUS_PROBE_TIMEOUT_MS=15000
MONITOR_INTERVAL_MS=60000
USER_EMAILS_API_URL=https://live.meon.co.in/get_users
USER_EMAILS_API_TOKEN=
USER_EMAILS_API_AUTHORIZATION=
USER_EMAILS_API_COOKIE=
USER_EMAILS_API_REFERER=https://live.meon.co.in/superadmin/users
